.blog-container {
    width: 100%;
}

.date {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.blog-entry {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
    padding-left: 20px;
    /* Optional: to align borders */
}

h1 {
    text-align: center;
    color: red;
}

h3 {
    text-align: center;
    color: blue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}