main {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: red;
}

h3 {
    color: blue;
}

.platform {
    color: #1DB954;
}

.image-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: fit-content;
    padding-top: 10px;
    padding: 10px;
    background-color: #1DB954;
    transition: background-color 0.3s;

}

.image-row a img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-row a img:hover {
    transform: scale(1.05);
}

.caption {
    margin-top: 5px;
    font-size: 14px;
    color: white;
    width: 150px;
    min-height: 2.5em;
}

/* Default styles */
.menu button {
    margin: 0px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    transition: background-color 0.3s;
    color: #fff;
}

.menu button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Background colors based on platform */
.image-row.spotify {
    background-color: #1DB954;
    /* light Spotify green */
}

.image-row.youtube {
    background-color: #FF0000;
    /* light YouTube red */
}

.image-row.apple {
    background-color: rgb(251, 98, 123);
    /* light Apple black */
}

.platform.spotify {
    color: #1DB954;
}

.platform.youtube {
    color: #FF0000;
}

.platform.apple {
    color: rgb(251, 98, 123);
}


#spotifyBtn.active {
    background-color: #1DB954;
}

#youtubeBtn.active {
    background-color: #FF0000;
}

#appleBtn.active {
    background-color: rgb(251, 98, 123);
}

#lyricspage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-family: "comic sans ms", Arial;
    color: white;
    text-shadow: 1px 1px black;
    animation: rainbow-bg 7s infinite;
    margin: 10px;
    margin-left: 50%;
}

a #lyricspage {
    text-decoration: none;
}

#lyricspage:hover {
    box-shadow: 0px 0px 10px gold;
}

#full {
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: underline;

}

.discography-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 10px;
}

.discography-grid .album {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discography-grid .album img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#dancingF {
    height: auto;
    width: auto;
}

#dancingE {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: -1;
    width: 10%;
    height: auto;
}

#dancingZ {
    position: absolute;
    top: 20%;
    left: 80%;
    z-index: -1;
    width: 10%;
    height: auto;
}

@media (max-width: 768px) {
    .image-row a img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        transition: transform 0.3s;
    }

    .image-row {
        gap: 5px;
        padding: 10px;
        background-color: #1DB954;
        transition: background-color 0.3s;

    }

    .caption {
        width: 75px;
    }
}

@keyframes rainbow-bg {
    0% {
        background-color: red;
    }

    14% {
        background-color: orange;
    }

    28% {
        background-color: yellow;
    }

    42% {
        background-color: green;
    }

    57% {
        background-color: blue;
    }

    71% {
        background-color: indigo;
    }

    85% {
        background-color: violet;
    }

    100% {
        background-color: red;
    }
}