main a {
    text-decoration: none;
    color: blue;
    text-shadow: 0.5px 0.5px 1px white;
}

main a:hover {
    text-decoration: underline;
}

.monthLabel {
    display: flex;
    justify-content: baseline;
}

.beg {
    width: 300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

.beg a {
    background-color: yellow;
}

.beg span {
    color: red;
    font-weight: 1000;
}

.beg span #grow {
    animation: grow 2s linear infinite;
}

.month {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.monthGif {
    width: 50px;
    height: auto;
}

.monthTitle {
    font-style: italic;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    justify-content: baseline;
}

.none {
    display: flex;
    color: white;
}

.none h3 {
    background-color: red;
}

.showItem {
    height: 75px;
}

.showPic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#fezTicket {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 400px;
    height: auto;
    transform: rotateZ(20deg);
    z-index: -1;
    overflow: hidden;
}

#frog {
    position: absolute;
    width: 20%;
    top: 70%;
    left: 40%;
    transform: rotateZ(-15deg);
    height: auto;
}


@media(max-width: 768px) {
    #fezTicket {
        width: 300px;
    }
}

@keyframes grow {
    50% {
        transform: scale(1.1);
    }
}